<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!--부장님코드 참고하기-->
<!--<th:block th:replace="fragments/header :: headerFragment"></th:block>-->
<!--<main class="py-5">-->
<!--    <th:block layout:fragment="content"></th:block>-->
<!--</main>-->
<!--<th:block th:replace="fragments/footer :: footerFragment"></th:block>-->

</body>
</html>
