<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<th:block th:fragment="footerFragment">
    <style>
        #footer{
            height: 200px;
            background-color: #85cdff;
        }
    </style>
    <header>
        <div id="footer">
            <pre>
            저작권 정보
            저작권 정보
            연락처 정보
            사이트맵
            맨 위로 링크로 돌아가기
            관련된 문서
            </pre>
        </div>
    </header>
    <script src="js/bootstrap.min.js"></script>
</th:block>
</html>