<!doctype html>
<html xmlns:th="https://thymeleaf.org">
<th:block th:fragment="headerFragment">
    <style>
        #header {
            height: 120px;
            background-color: #85cdff;
        }

        #loginInfo {
            text-align: right;
            /*float: right;*/
        }
        ul{
            list-style: none;
        }
    </style>
    <header>
        <div id="header">
                <ul id="loginInfo">
                    <th:block th:if="${session.jyUserSession != null}">
                        <li th:text="${session.jyUserSession.userName} + 님 +' '+안녕하세요"></li>
                        <li><button type="button" onclick="location.href='/logout'">로그아웃</button> </li>
                    </th:block>
                    <th:block th:unless="${session.jyUserSession != null}">
                        <li><button type="button" onclick="location.href='/loginForm'">로그인</button></li>
                        <li>로그인해주세요</li>
                    </th:block>
                </ul>
        </div>
        <ul class="nav nav-pills nav-fill" >
        <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">메인화면</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/boardList(boardType='QnA_Board')}">문의하기</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/boardList(boardType='Free_Board')}">자유게시판</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/myPage">마이페이지</a>
            </li>
        </ul>
    </header>
    <script th:inline="javascript">
        let JyUserSession = [[${session.jyUserSession}]]
        console.log("JyUserSession" + JyUserSession);
    </script>

</th:block>
</html>