<!doctype html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>게시글 읽기</title>
</head>
<th:block layout:fragment="content">
    <style>
        form{
            text-align: center;
        }
        textarea{
            resize: none;
        }
        .btn-group{
            float: right;
        }
        #upd_btn, #del_btn, #upd_sub{
            background-color:#66b2ff;
        }
        #main_btn{
            background-color: #ffffff;
            color: #000000;
        }
        label{
            float: left;
        }
        .form-control{
            margin-bottom: 20px;
        }
        #main{
            margin-top: 50px;
        }
        #mainTitle{
            text-align: center;
        }
    </style>
    <body>
    <div>
        <div class="container">

            <h1 id="mainTitle">게시글읽기</h1>
            <div id="main">
                <form action="/updateContent" method="post" id="contentForm" enctype="multipart/form-data" th:each="myContent : ${myContent}">
                    <label for="titleBox" class="form-label fs-5 fw-bold">제목</label>
                    <input type="text" id="titleBox" class="form-control" name="title" th:value="${myContent.title}" readonly="readonly">
                    <label for="writerBox" class="form-label fs-5 fw-bold">작성자</label>
                    <input type="text" id="writerBox" class="form-control" name="modifiedBy" th:value="${myContent.modifiedBy}" readonly="readonly">
                    <label for="contentBox" class="form-label fs-5 fw-bold">내용</label>
                    <textarea rows="20" name="content" id="contentBox" th:text="${myContent.content}" class="form-control" readonly="readonly"/>
                    <input type="file" id="onlyAttach" class="form-control" style="display: none" name="uploadFile" multiple>

                    <input type="hidden" name="id" th:value="${myContent.id}">


                    <div>
                        <div id="attachUl" th:if="${!attachList.isEmpty()}">
                            <ul th:each="attachList : ${attachList}" style="list-style: none" >
                                <li>
                                    <a th:href="@{/downloadFile(fileName = ${attachList.uuid}, uploadPath = ${attachList.uploadPath})}"><span th:text="${attachList.originName}"/></a>
                                    <input type="checkbox" name="attBno" th:value="${attachList.attBno}" class="checkBtn" style="display: none">

                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary" id="upd_btn" style="display: inline">수정하기</button>
                        <button type="submit" class="btn btn-primary" id="upd_sub" style="display: none">수정완료</button>
                        <button type="button" id="main_btn" class="btn btn-primary" th:onclick="|location.href='@{/(page=${page},type=${type},search=${search})}'|">목록</button>
                        <button type="button" id="del_btn" class="btn btn-primary" th:onclick="|location.href='@{deleteContent(id=${myContent.id})}'|">삭제</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>


    <script th:inline="javascript">
            let msg = [[${attachList}]]
            console.log(msg)

            // 체크박스 클릭시 취소선 생기게하기
            let ul = document.querySelector('ul');

            const checkClick = (i) => {
                if (ul.children[i].querySelector('span').style.textDecorationLine === "line-through") {
                    ul.children[i].querySelector('span').style.textDecorationLine = '';
                } else {
                    ul.children[i].querySelector('span').style.textDecorationLine = "line-through";
                }
            }

            if (ul) {
                for(let i = 0; i < ul.childElementCount; i++){
                    ul.children[i].querySelector('span').value = i;
                    ul.children[i].querySelector('input').setAttribute('onClick', `checkClick(${i})`);

                }
            }



        //수정버튼 클릭시 upd_btnE 함수를 실행해라
        const upd_btn = document.getElementById("upd_btn")
        upd_btn.addEventListener('click', upd_btnE);

        //수정버튼 클릭시 upd_btnE 실행
        function upd_btnE() {
            //input의 class이름을 가지고 for문을 돌려서 readOnly를 false로(텍스트 수정가능하게)
            let formU = document.getElementsByClassName("form-control");
            for (let i = 0; i < formU.length; i++) {
                formU[i].readOnly = false;
            }

            //기존 수정하기 버튼 가리기
            document.getElementById("upd_btn").style.display = "none";
            //수정완료 버튼 보이게 하기
            document.getElementById("upd_sub").style.display = "inline";
            let mainTitleU = document.getElementById("mainTitle");//게시글읽기->게시글수정으로 변경
            mainTitleU.innerText = "게시글수정";
            //파일추가 보이게 하기
            document.getElementById("onlyAttach").style.display = "inline";

            //첨부파일있을때 체크박스 보이게하기
            let checkBtn = document.getElementsByClassName("checkBtn")
            for (let i = 0; i < checkBtn.length; i++) {
                checkBtn[i].style.display = "inline";
            }





            // //삭제버튼 클릭시
            // let remove = document.getElementById("delete");
            // console.log("삭제버튼클릭");
            // remove.addEventListener('click', hideE);
            //
            // // 삭제버튼 클릭시 첨부파일 가려지게
            // function hideE() {
            //     console.log("hideE 함수실행");
            //     document.getElementById("delete").style.display = "none";
            //
            // }
        }

</script>

    </body>
</th:block>
</html>