<!doctype html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../js/jquery-3.6.1.min.js"></script>
    <title>게시글 읽기</title>
</head>
<th:block layout:fragment="content">
    <style>
        form {
            text-align: center;
        }

        textarea {
            resize: none;
        }

        .btn-group {
            float: right;
        }

        #upd_btn, #del_btn, #upd_sub {
            background-color: #66b2ff;
        }

        #main_btn {
            background-color: #ffffff;
            color: #000000;
        }

        label {
            float: left;
        }

        .form-control {
            margin-bottom: 20px;
        }

        #main {
            margin-top: 50px;
        }

        #mainTitle {
            text-align: center;
        }

        #answer_btn{
            float: right;
        }

        #btnBox{
            display: flex;
        }

        #replyBox{
            display: inline;
            border-radius: 10px;
        }
        #replySub{
            width: 100px;
        }

        #childReply{
         display: none;
        }
    </style>
    <body>
    <div>
        <div class="container">

            <h1 id="mainTitle">게시글읽기</h1>
            <div id="main">
                <form action="/updateContent" method="post" id="contentForm" enctype="multipart/form-data"
                      th:each="myContent : ${myContent}">
                    <label for="titleBox" class="form-label fs-5 fw-bold">제목</label>
                    <input type="text" id="titleBox" class="form-control" name="title" th:value="${myContent.title}"
                           readonly="readonly">
                    <label for="writerBox" class="form-label fs-5 fw-bold">작성자</label>
                    <input type="text" id="writerBox" class="form-control" name="modifiedBy"
                           th:value="${myContent.modifiedBy}" readonly="readonly">
                    <label for="contentBox" class="form-label fs-5 fw-bold">내용</label>
                    <textarea rows="20" name="content" id="contentBox" th:text="${myContent.content}"
                              class="form-control" readonly="readonly"/>
                    <input type="file" id="onlyAttach" class="form-control" style="display: none" name="uploadFile"
                           multiple>

                    <input type="hidden" name="id" th:value="${myContent.id}">


                    <div>
                        <div id="attachUl" th:if="${!attachList.isEmpty()}">
                            <ul th:each="attachList : ${attachList}" class="checkboxList" style="list-style: none">
                                <li>
                                    <a th:href="@{/downloadFile(fileName = ${attachList.uuid}, uploadPath = ${attachList.uploadPath})}">
                                        <span th:text="${attachList.originName}"/></a>
                                    <input type="checkbox" name="attBno" th:value="${attachList.attBno}"
                                           class="checkBtn" style="display: none">
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary" id="upd_btn" style="display: inline">수정하기</button>
                        <button type="submit" class="btn btn-primary" id="upd_sub" style="display: none">수정완료</button>
<!--                        관리자일 경우에만 답변달기 버튼이 보이도록 수정하기! 게시글 번호 가지고 이동-->
                        <button type="button" id="main_btn" class="btn btn-primary"
                                th:onclick="|location.href='@{/(page=${page},type=${type},search=${search})}'|">목록
                        </button>
                        <button type="button" id="del_btn" class="btn btn-primary"
                                th:onclick="|location.href='@{deleteContent(id=${myContent.id})}'|">삭제
                        </button>
                    </div>
                    <div id="btnBox">
                    <button type="button" class="btn btn-primary" id="answer_btn" style="display: inline"
                            th:onclick="|location.href='@{answerForm(id=${myContent.id})}'|">답글달기</button>
                    </div>
                </form>
            </div>

            <div>
                <label>댓글작성</label>
                <div id="replyBox">
                <form id="reply_box" method="post" action="/insertReply">
                <!--댓글내용-->
                <input type="text" name="reContent" id="reContent" class="form-control">
                <!--댓글작성자-->
                <input type="text" name="reCreatedBy" id="reCreatedBy" value="작성자명자리" readonly="readonly">
                <!--원글게시글 번호-->
                    <th:block th:each="myContent : ${myContent}">
                <input type="hidden" name="boardBno" id="boardBno" th:value="${myContent.id}">
                    </th:block>
                <input type="button" id="replySub" value="댓글작성"/>


                </form>
                </div>
                <label>댓글목록</label>
                    <table class="table">
                    <tr th:each="replyList : ${replyList}">
                        <td th:text="${replyList.reCreatedBy}"/></td>
                        <td th:text="${replyList.reContent}"/></td>
                        <td th:text="${#temporals.format(replyList.reModifiedDate,'yyyy-MM-dd HH:mm')}"/></td>
                        <td>
                        <button type="button" class="reply_up_btn" th:value="${replyList.reBno}">수정</button>
                        <button type="button" class="reply_del_btn">삭제</button>
                        <button type="button" class="child_reply_btn"
                                th:onclick="|location.href='@{/insertChildReply(reOrder=${replyList.reOrder},reDepth=${replyList.reDepth},reGroupBno=${replyList.reGroupBno},boardBno=${replyList.boardBno})}'|"
                        >하위댓글달기</button>
<!--                            <button type="button" class="child_reply_btn" id="childReply()">하위댓글달기</button>-->
                        </td>
                    </tr>
<!--                        <tr id="childReply">-->

<!--                        </tr>-->

                </table>
            </div>
        </div>
    </div>
    </div>

    <script>

        let replySub = document.getElementById("replySub");//댓글작성버튼 클릭시 실행

        replySub.addEventListener('click',function(){
            console.log("버튼누름");
            let reContent = $("#reContent").val();
            let reCreatedBy = $("#reCreatedBy").val();
            let boardBno = $("#boardBno").val();

            let jyReply={reContent:reContent,
                       reCreatedBy:reCreatedBy,
                       boardBno:boardBno
                    }
                $.ajax({
                    url: "/insertReply",
                    type: 'POST',
                    dataType: 'JSON',
                    contentType: "application/json; charset=utf-8",
                     data: JSON.stringify(jyReply),
                    success: function() {
                        alert("댓글이 등록되었습니다.");
                    },
                    error: function () {
                        alert("에러발생")
                    }

            });
        });



        // 체크박스 클릭시 취소선 생기게하기ㅜㅜㅜㅜㅜ
        let ul = document.querySelector('ul');

        const checkClick = (i) => {
            if (ul.children[i].querySelector('span').style.textDecorationLine === "line-through") {
                ul.children[i].querySelector('span').style.textDecorationLine = '';
            } else {
                ul.children[i].querySelector('span').style.textDecorationLine = "line-through";
            }
        }

        if (ul) {
            for (let i = 0; i < ul.childElementCount; i++) {
              //  ul.children[i].querySelector('input').value = i;
                ul.children[i].querySelector('input').setAttribute('onClick', `checkClick(${i})`);

            }
        }



        //수정버튼 클릭시 upd_btnE 함수를 실행해라
        const upd_btn = document.getElementById("upd_btn")
        upd_btn.addEventListener('click', upd_btnE);

        //수정버튼 클릭시 upd_btnE 실행
        function upd_btnE() {
            //input의 class이름을 가지고 for문을 돌려서 readOnly를 false로(텍스트 수정가능하게)
            let formU = document.getElementsByClassName("form-control");
            for (let i = 0; i < formU.length; i++) {
                formU[i].readOnly = false;
            }

            //기존 수정하기 버튼 가리기
            document.getElementById("upd_btn").style.display = "none";
            //수정완료 버튼 보이게 하기
            document.getElementById("upd_sub").style.display = "inline";
            let mainTitleU = document.getElementById("mainTitle");//게시글읽기->게시글수정으로 변경
            mainTitleU.innerText = "게시글수정";
            //파일추가 보이게 하기
            document.getElementById("onlyAttach").style.display = "inline";

            //첨부파일있을때 체크박스 보이게하기
            let checkBtn = document.getElementsByClassName("checkBtn")
            for (let i = 0; i < checkBtn.length; i++) {
                checkBtn[i].style.display = "inline";
            }
         }

    </script>

    </body>
</th:block>
</html>