<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="../js/jquery-3.6.1.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>회원가입</title>
</head>
<style>
    .titleCenter {
        text-align: center;
    }
    #joinBtn{
    margin: 20px;
        float: right;
    }
</style>
<body>
<div class="d-flex justify-content-center mt-5">
    <div class="col-4 card ">
        <div class="card-body">
            <form method="post" id="newMember" action="/join">
                <h1 class="titleCenter">회원가입</h1>
                <div class="form-group">
                    <label for="userId">* 아이디</label>
                    <input type="text" class="form-control" name="userId" id="userId" placeholder="사용자 아이디 10자리 이내"
                           minlength="5" maxlength="10" required="required">
                    <button type="button" id="checkId" class="btn btn-outline-info btn-sm">중복확인</button>
                </div>
                <span id="idSpan"> </span>

                <div class="form-group">
                    <label for="userPw">* 비밀번호</label>
                    <input type="password" class="form-control" name="userPw" id="userPw" placeholder="사용자 비밀번호 20자리 이내"
                           minlength="8" maxlength="20" required="required">
                </div>
                <span id="pwSpan"> </span>
                <div class="form-group">
                    <label for="userPwCk">* 비밀번호 재확인</label>
                    <input type="password" class="form-control" id="userPwCk" placeholder="사용자 비밀번호 재확인"
                           minlength="8" maxlength="20" required="required">
                </div>
                <span id="pwCkSpan"> </span>
                <div class="form-group">
                    <label for="userName">* 이름</label>
                    <input type="text" class="form-control" name="userName" id="userName" placeholder="사용자 이름"
                           maxlength="20" required="required">
                </div>
                <div class="form-group">
                    <label for="userPhone">휴대전화</label>
                    <input type="text" class="form-control" name="userPhone" id="userPhone" placeholder="사용자 휴대전화">
                </div>
                <div class="form-group">
                    <label for="userEmail">* 이메일</label>
                    <input type="text" class="form-control" name="userEmail" id="userEmail" placeholder="사용자 이메일"
                           required="required">
                </div>
                <span id="emailSpan"> </span>
                <div class="form-group">
                    <label for="userBirth">생년월일</label>
                    <input type="date" class="form-control" name="userBirth" id="userBirth" placeholder="사용자 생년월일">
                </div>
                <div id="joinBtn">
                    <button type="button" class="btn btn-outline-primary" id="newUserSub">회원가입</button>
                    <button type="button" class="btn btn-outline-primary" onclick="location.href='/loginForm'">돌아가기</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--아이디 중복체크 ajax-->
</body>
<script>

    $("#checkId").click(function () {//아이디//중복확인
        let userId = $("#userId").val();
        checkId(userId);
    });

    function checkId(userId) {
        if (5 > userId.length) {
            alert("아이디는 5글자이상 작성해주세요")
            $("#idSpan").html("아이디는 5글자이상 작성해주세요.")
            return;
        } else {//아이디 5글자 넘을때 중복확인
            $.ajax({
                url    : "/checkId",
                data   : {"userId": userId},
                type   : "post",
                success: function (no) {
                    if (no > 0) {
                        alert("중복된 아이디입니다.")
                        $("#newUserSub").attr("disabled", true)
                        $("#idSpan").html("중복된 아이디입니다.")
                        $("#idSpan").css('color', 'red');
                        return;

                    } else {
                        $("#idSpan").html("사용가능한 아이디입니다.")
                        $("#idSpan").css('color', 'black');
                        $("#newUserSub").attr("disabled", false)
                    }

                }, error() {
                    alert("아이디 중복체크 통신 에러")
                }
            });
        }
        ;
    };


    //비밀번호 정규식 확인 함수

    $("#userPw").keyup(function () {
        let userPw = $("#userPw").val();
        checkPw(userPw);
    });

    function checkPw(userPw) {

        //비밀번호 정규식 최소8글자, 하나이상의 문자, 하나이상의 숫자, 하나의 특수문자
        let regPw = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/;

        if (!userPw.match(regPw)) {//정규식여부와 일치하지 않는다면
            $("#pwSpan").html("비밀번호 조건을 다시 확인해주세요 (8글자이상 +문자하나이상, 숫자하나이상, 특수문자 하나이상)");
            $("#pwSpan").css('color', 'red');
            $("#newUserSub").attr("disabled", true)
            return;

        } else if (userPw.match(regPw)) {
            $("#pwSpan").html("사용가능한 비밀번호");
            $("#pwSpan").css('color', 'black')
            $("#newUserSub").attr("disabled", false)

        }
    }

    $("#userPwCk").keyup(function () {
        let userPwCk = $("#userPwCk").val();
        let userPw = $("#userPw").val();
        matchPw(userPw, userPwCk)
    });

    function matchPw(userPw, userPwCk) {

        if (userPw != userPwCk) {//비밀번호 재확인시 다르다면
            $("#pwCkSpan").html("비밀번호 불일치")
            $("#pwCkSpan").css('color', 'red');
            $("#newUserSub").attr("disabled", true)
            return;
        } else {
            $("#pwCkSpan").html("비밀번호 일치")
            $("#pwCkSpan").css('color', 'black');
            $("#newUserSub").attr("disabled", false)

        }
    };


    $("#userEmail").keyup(function () {//이메일 중복확인
        let userEmail = $("#userEmail").val();
        //이메일 정규식 조건에 맞는지 확인
        checkEmail(userEmail);
    });

    function checkEmail(userEmail) {
        let regEmail = /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/;
        if (!userEmail.match(regEmail)) {
            $("#emailSpan").html("이메일 형식을 확인해주세요");
            $("#emailSpan").css('color', 'red');
            $("#newUserSub").attr("disabled", true);
            return;
        }
        $.ajax({
            url    : "/checkEmail",
            type   : "post",
            data   : {"userEmail": userEmail},
            success: function (no) {
                if (no > 0) {
                    $("#emailSpan").html("이미 사용중인 이메일 입니다.");
                    $("#emailSpan").css('color', 'red');
                    $("#newUserSub").attr("disabled", true);
                    return;
                } else {
                    $("#emailSpan").html("사용 가능한 이메일 입니다.");
                    $("#emailSpan").css('color', 'black');
                    $("#newUserSub").attr("disabled", false);
                }
            }
        })
    };


    $("#newUserSub").click(function () {//회원가입버튼 클릭시 모든 조건 확인후 전송

        let userId = $("#userId").val();
        let userPw = $("#userPw").val();
        let userPwCk = $("#userPwCk").val();
        let userEmail = $("#userEmail").val();

        check(userId, userPw, userPwCk, userEmail)

//값 다 적혀있는지 확인
        function check(userId, userPw, userPwCk, userEmail) {
            if (userId == "" || userId == null) {
                alert("아이디를 입력해주세요");
                $("#userId").focus();
                return;
            }
            if (userPw == "" || userPw == null) {
                alert("비밀번호를 입력해주세요");
                $("#userPw").focus();
                return;
            }
            if (userPwCk == null || userPwCk == '' || userPw != userPwCk) {
                alert("비밀번호를 재확인해주세요");
                $("#userPwCk").focus();
                return;
            }
            if (userEmail == null || userEmail == '') {
                alert("이메일을 입력해주세요");
                $("#userEmail").focus();
                return;
            }


//함수 다시 돌면서 조건에 맞는지 확인하고 틀리면 전송버튼 잠기게
            checkId(userId);
            checkPw(userPw);
            matchPw(userPw, userPwCk);
            checkEmail(userEmail);

            let newUserSub = $("#newUserSub");
            if (!newUserSub.disabled) {//전송버튼이 잠기지 않았다면
                alert("회원가입 되었습니다");
                $("#newMember").submit();

            } else {
                alert("회원가입정보를 다시 확인 해주세요");
                return;
            }
        }
    });

</script>
</html>