<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
  <meta charset="utf-8">
  <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>메인접속화면</title>
</head>
<th:block layout:fragment="content">
<body>
<h1>메인화면입니다</h1>
<div>
  <h2>로그인후 뜰 화면이자</h2>
  <h2>사이트의 메인화면을 꾸릴곳</h2>
  내용<br>
  내용<br>
  내용<br>
  내용<br>
  내용<br>
  내용<br>
  내용<br>
  내용<br>
</div>
</body>
</th:block>
</html>