<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시판 접속시 리스트</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
    }
    #list{
        height: 100vh;
        display: flex;
        align-items: center;
        background-color:skyblue;
        height: 800px;
        width: 80%;
    }
    #btnBox{
        float: right;
    }
    tr{
      background-color: white;
  }
    th,td{
        width: 100px;
    }


</style>
<body>
<div id="main">
    <div id="list">
        <table class="tableLine">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회 수</th>

            </tr>

            <tr th:each="board : ${myBoardList}">

                <td th:text="${board.id}"></td>
                <td><a th:href="@{/boardContent(id=${board.id})}"th:text="${board.title}"></a></td>
                <td th:text="${board.modifiedBy}"></td>
                <td th:text="${board.modifiedDate}"></td>
                <td th:text="${board.viewCount}"></td>

            </tr>



<!--	<tr class="trSt" onclick="location.href='comDetailView.do?compNo=${com.compNo}'">-->
        </table>
        <div id="btnBox">
            <button type="button" onclick="location.href='writeForm'">글 작성</button>
        </div>
        <div>
            <p>페이지네이션 위치</p>
        <table>

<!--            // 기존 페이징 처리 쿼리-->
<!--            SELECT * FROM 테이블명 LIMIT 숫자(A), 숫자(B)-->

<!--            // 인덱스를 태우는 페이징 처리 쿼리-->
<!--            SELECT * FROM 테이블명 WHERE 숫자(A) < key LIMIT 숫자(B)-->
        </table>
        </div>
    </div>
</div>
<script th:inline="javascript">
    let myBoardList =[[${myBoardList}]]
    console.log(myBoardList)
</script>
</body>
</html>