<!doctype html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
  <meta charset="utf-8">
  <script src="/js/jquery-3.6.1.min.js"></script>
  <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>마이페이지</title>
  <style>
    .mypageCard{
      padding: 10px;
    }

    #profile_view {
      width: 105px;
      height: 140px;
    }

  </style>
</head>
<th:block layout:fragment="content">
  <body>
  <div class="d-flex justify-content-center mt-5 mypageCard" >

    <div class="col-4 card">
      <div class="card-body">

        <div>
          <img id="profile_view" src="">
        </div>

        <div class="form-group">
          <label for="userProfile">유저 프로필</label>
          <input type="text" th:value='|${session.jyUserSession.uploadPath}\${session.jyUserSession.changeName}|' class="form-control" id="userProfile"
                 readonly="readonly">
        </div>
<!--        <img th:src="@{th:value='\${session.jyUserSession.uploadPath}\}+${session.jyUserSession.changeName}'"/>-->
        <!--        <img th:src="@{/webapp/file/} + ${이미지파일명()}">-->



        <div class="form-group">
          <label for="userName">이름</label>
          <input type="text" class="form-control" id="userName" th:value="${session.jyUserSession.userName}"
                 readonly="readonly">
        </div>
        <div class="form-group">
          <label for="userBirth">생년월일</label>
          <input type="text" class="form-control myPage" id="userBirth"
                 th:value="${session.jyUserSession.userBirth}" readonly="readonly">
        </div>
        <div class="form-group">
          <label for="userPhone">휴대폰번호</label>
          <input type="text" class="form-control myPage" id="userPhone"
                 th:value="${session.jyUserSession.userPhone}" readonly="readonly">
        </div>
        <div class="form-group">
          <label for="userEmail">이메일</label>
          <input type="text" class="form-control myPage" id="userEmail"
                 th:value="${session.jyUserSession.userEmail}" readonly="readonly">
        </div>
        <div class="form-group">
          <label for="regDate">가입일자</label>
          <input type="text" class="form-control" id="regDate" name="regDate"
                 th:value="${session.jyUserSession.regDate}" readonly="readonly">

          <!--                 th:value="${session.jyUserSession.regDate}" readonly="readonly">-->

        </div>

      <!--      <div class="form-group">-->
      <!--        <button type="button" id="updateMP" class="btn btn-outline-info">수정</button>-->
      <!--        <button type="button" id="updateMPS" class="btn btn-outline-info" style="display: none">수정완료</button>-->
      <!--        <button type="button" id="mpBack" class="btn btn-outline-info" style="display: none"-->
      <!--                onclick="location.href='/myPage'">취소-->
      <!--        </button>-->
      <!--      </div>-->
    </div>
  </div>
  </div>
<!--  <input type="text" th:value='|\${session.jyUserSession.uploadPath}\${session.jyUserSession.changeName}|'-->


  <script>

<!--    프로필 사진 보여주기-->
$(document).ready(function () {
  let profile = document.getElementById("userProfile").value;
  console.log("profile1"+profile);
  profileView(profile);
});

  function profileView(profile) {
    if (profile.length!=0) {
      console.log("profile2"+profile);
      document.getElementById("profile_view").src=profile;

    } else {
      document.getElementById("profile_view").src = "";

    }
  };





    $("#updateMP").click(function () {
      upd_btnE();
    });

    function upd_btnE() {
      $("#updateMPS").css('display', 'inline');
      $("#mpBack").css('display', 'inline');
      $("#updateMP").css('display', 'none');
      let myForm = $(".myPage");
      for (let i = 0; i < myForm.length; i++) {
        myForm[i].readOnly = false;
      }
    }
  </script>
  </body>

</th:block>
</html>