<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>게시글쓰기</title>
</head>
<style>
    button{
        width: 50px;
        height: 20px;
    }
</style>
<body>
<div>
  <form action="/insertContent" method="post">
      <div><p>제목</p><input type="text" name="title"/></div>
    <div><p>내용</p><input type="text" name="content"/></div>
    <div><p>작성자</p><input type="text" name="createdBy"/></div>

    <button type="submit">등록</button>
    <button type="button" onclick="location.href='main'">취소</button>
  </form>
</div>
</body>
</html>