<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adnstyle.myboard.model.repository.JyBoardRepository">

<!--    검색-->
    <sql id ="searchContents">
        <choose>
            <when test='type.equals("A")'>
                <if test='search==""'></if>
                <if test='search!=""'>
                    where title like concat('%',#{search},'%')
                    or
                    created_by like concat('%',#{search},'%')
                    or
                    content like concat('%',#{search},'%')
                </if>
            </when>
            <when test='type.equals("T")'>
                where title like concat('%',#{search},'%')
            </when>
            <when test='type.equals("W")'>
                where created_by like concat('%',#{search},'%')
            </when>
            <when test='type.equals("C")'>
                where content like concat('%',#{search},'%')
            </when>
            <when test='type.equals("TC")'>
                where title like concat('%',#{search},'%') or content concat(like'%',#{search},'%')
            </when>
        </choose>
    </sql>


<!--  게시물 총 갯수  -->
    <select id="countAll" resultType="int" parameterType="pageHandle">
    select count(*)
     from jy_board
    <include refid="searchContents"></include>
    </select>

<!-- 고객들이 볼 게시판 화면-->
    <select id="myBoardPage"  parameterType="map" resultType="jyBoard">
        select id, title, view_count, modified_date, modified_by
        from jy_board
        where del_yn = 'N'
        order by id desc
        limit #{offset}, #{pageSize}
    </select>

    <select id="selectList"  parameterType="map" resultType="jyBoard">
        select id, title, view_count, modified_date, modified_by,del_yn,group_bno
        from jy_board
        <include refid="searchContents"></include>
        order by group_bno desc, id asc
        limit #{offset}, #{pageSize}
    </select>

<!--게시글 상세조회-->
    <select id="selectContent" parameterType="long" resultType="jyBoard">
        select title, modified_by,content,modified_date,id,group_bno
        from jy_board
        where id=#{id}
    </select>

    <update id="updateCount" parameterType="long">
        update jy_board set view_count= view_count+1
        where id=#{id}
    </update>

    <update id="deleteContent" parameterType="long">
        update jy_board set del_yn = 'Y'
       where
        <choose>
            <when test="group_bno==id"><!--게시글+답글삭제-->
                group_bno=#{id}
            </when>
        </choose>
    </update>

    <select id="selectId" resultType="long">
        SELECT ID
        FROM jy_board
        ORDER BY ID DESC
        limit 1;
    </select>
<!--게시글등록-->
    <insert id="insertContent" parameterType="jyBoard">
        insert into jy_board(title, content ,view_count,created_by,modified_by,created_date,modified_date,board_type)
        values (#{title},#{content},0,#{createdBy},#{createdBy},NOW(),NOW(),#{boardType})
    </insert>

    <update id="updateContent" parameterType="jyBoard">
         update jy_board set title = #{title}, content=#{content},modified_by=#{modifiedBy},modified_date=NOW()
         where id=#{id}
     </update>

<!--  게시글 등록시 게시글번호를 그룹번호로 수정  -->
    <update id="updateGroupBno" parameterType="long">
        update jy_board set group_bno=#{id}
        where id=#{id}
    </update>

    <!--답글등록-->
    <insert id="insertAnswer" parameterType="jyBoard">
        insert into jy_board (title, content ,view_count,created_by,modified_by,created_date,modified_date,group_bno)
        values (#{title},#{content},0,#{createdBy},#{createdBy},NOW(),NOW(),#{groupBno})
    </insert>

    <!--답글삭제-->
    <update id="deleteAnswer" parameterType="long">
        update jy_board set del_yn = 'Y'
        where id=#{id}
    </update>

</mapper>