<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adnstyle.myboard.model.repository.JyReplyRepository">
    <insert id="insertReply" parameterType="jyReply">
        insert into jy_reply(re_content,re_created_by,re_created_date,re_modified_date,board_bno)
        values(#{reContent},#{reCreatedBy},NOW(),NOW(),#{boardBno})
    </insert>
</mapper>