<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adnstyle.myboard.model.repository.JyReplyRepository">
    <insert id="insertReply" parameterType="jyReply">
        insert into jy_reply(re_content, re_created_by, re_created_date, re_modified_date, board_bno)
        values (#{reContent}, #{reCreatedBy}, NOW(), NOW(), #{boardBno})
    </insert>

    <select id="selectMaxReBno" resultType="long">
        select re_bno
        from jy_reply
        order by re_bno desc limit 1
    </select>

    <update id="updateGroupBno" parameterType="long">
        update jy_reply
        set re_group_bno=#{bno}
        where re_bno = #{bno}
    </update>

    <select id="selectReplyList" resultType="jyReply" parameterType="map">
 <![CDATA[
        select re_bno,
               re_group_bno,
               re_content,
               re_created_by,
               re_created_date,
               re_modified_date,
               board_bno,
               re_del_yn,
               re_depth,
               re_order
        from jy_reply
        where board_bno = #{id}
        order by re_group_bno desc, re_order asc, re_depth asc
            limit #{offset}, #{pageSize}
        ]]>
    </select>

    <!--    댓글 정렬번호 업데이트-->
    <update id="updateOrderBno">
        <![CDATA[
        update jy_reply
        set re_order = re_order + 1
        where re_order > #{reOrder}
          and re_group_bno = #{reGroupBno}
          and board_bno = #{boardBno};
        ]]>
    </update>

    <!--    대댓글 등록-->
    <insert id="insertChildReply">
        INSERT INTO jy_reply(re_content, re_created_by, re_created_date, re_modified_date, board_bno, re_depth,
                             re_order, re_group_bno)
        VALUES (#{reContent},#{reCreatedBy}, NOW(), NOW(), #{boardBno}, #{reDepth} + 1, #{reOrder} + 1, #{reGroupBno});
    </insert>

    <!--    댓글삭제 -->
    <update id="deleteReply" parameterType="long">
        update jy_reply
        set re_del_yn ='Y'
        where re_bno = #{delReBno}
    </update>

    <!-- 대댓글달기-부모 댓글정보 불러오기-->
    <select id="selectReply" parameterType="long" resultType="jyReply">
        select *
        from jy_reply
        where re_bno = #{reBno}
    </select>

    <!--    해당 게시물의 댓글갯수-->
    <select id="selectReplyCountAll" parameterType="long" resultType="int">
        select count(*)
        from jy_reply
        where board_bno = #{id}
    </select>
</mapper>