<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adnstyle.myboard.model.repository.MyBoardRepository">

    <select id="countAll" resultType="int">
        select count(*)
        from my_board;
    </select>

<!--    <select id="myBoardPage"  parameterType="map" resultType="com.adnstyle.myboard.model.domain.MyBoard">-->
<!--        select id, title, view_count, modified_date, modified_by-->
<!--        from my_board-->
<!--        where del_yn = 'N'-->
<!--        order by id desc-->
<!--        limit #{offset}, #{pageSize}-->
<!--    </select>-->

    <select id="selectList"  parameterType="map" resultType="com.adnstyle.myboard.model.domain.MyBoard">
        select id, title, view_count, modified_date, modified_by,del_yn
        from my_board
        order by id desc
        limit #{offset}, #{pageSize}
    </select>

    <select id="selectContent" parameterType="long" resultType="com.adnstyle.myboard.model.domain.MyBoard">
        select id,title, modified_by,content, created_date
        from my_board
        where id=#{id};
    </select>

    <update id="updateCount" parameterType="long">
        update my_board set view_count= view_count+1
        where id=#{id}
    </update>

    <update id="deleteContent" parameterType="long">
        update my_board set del_yn = 'Y'
        where id=#{id}
    </update>

    <insert id="insertContent" parameterType="com.adnstyle.myboard.model.domain.MyBoard">
        insert into my_board (title, content ,view_count,created_by,modified_by,created_date,modified_date)
        values ( #{title},#{content},0,#{createdBy},#{createdBy},NOW(),NOW());
    </insert>

    <update id="updateContent" parameterType="com.adnstyle.myboard.model.domain.MyBoard">
         update my_board set title = #{title}, content=#{content},modified_by=#{modifiedBy},modified_date=NOW()
         where id=#{id};
     </update>
<!--검색 + 페이징처리-->
    <select id="SearchCondition"  parameterType="hashmap" resultType="com.adnstyle.myboard.model.domain.MyBoard">
        select id, title, view_count, modified_date, modified_by,del_yn
        from my_board
        where
        order by id desc
            limit #{offset}, #{pageSize}
    </select>

    <!--검색결과 관련 쿼리-->
    <sql id ="search">

    </sql>
</mapper>